body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	margin: 0;
}

section {
  padding: 50px 0;
}

nav {
  background:rgb(2, 144, 139);
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

nav ul {
  position: absolute;
  right: 25px;
  top: 5px;
}

ul{
  display: block;
  list-style-type: disc;
}

nav li {
  display: inline-block;
  padding: 0 15px;
}

nav li > a {
  color: #ffffff;
  text-decoration: none;
}

nav > a {
  color:#ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  left: 25px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  top: 10px;
}

nav span {
  font-family: "Open Sans", sans-serif;
  color: #cfc91d;
  text-align: left;
}

li{
  text-align:-webkit-match-parent;
}

header {
  background-attachment: fixed;
  background-image: url(../img/coat.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 50%;
  color: #fff;
  height: 500px;
  padding-top: 15%;
  text-align: center;
}

header h1 {
  font-style: 36px;
  margin: 0;
}

h1 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

header h2 {
  font-size: 72px;
  letter-spacing: 20px;
  margin: 0;
}

h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

header p {
  margin-top: 0;
}

p {
  display: block;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

header img {
  padding: 35px 0;
}

header a {
  background-color: #cdc71d;
  color: #0b1016;
  font-size: 14px;
  font-weight: bold;
  padding:10px 35px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  cursor:auto;
}

/*the about,servie,and the contact initial styles*/
#about .title, #SERVICES .title, #CONTACT .title {
  color: #02918c;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 0;
}

#about {
  text-align: center;
}

div {
  display: block;
}

#about > p {
  color: #7e8287;
  line-height:41px;
  margin: 0 auto;
  width: 70%;
}

#about img {
  margin: 15px;
}

.aboutBoxes {
  color: #7e8287;
  margin: 0 auto;
  width: 80%;
}

/*about box styles*/
.aboutBox {
  border-right:1px solid black;
  float: left;
  margin: 3% 0;
  padding: 0 4%;
  width: 16%;
}
/*the icon styles*/
.fa-pencil:before {
  content: "\f040";
}

.fa-geat:before, .fa-cog:before {
  content: "\f013";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-laptop:befote {
  color: "\f109";
}

 /*SERVICES styles*/

#SERVICES {
  background-image: url("../img/service.png");
	background-size: cover;
	display: inline-block;
	padding: 10%;ß
 }

#SERVICES img {
   margin: 15px 0;
}
.serviceWrapper {
   width: 40%;
}

.serviceWrapper > p {
  color: #7e8287;
  line-height: 41px;
}

.serviceBox {
  float: left;
  width: 40%;
  color: #7e8287;
}

.serviceBox.left {
	margin-left: 15%;
}

.serviceBox h2 {
	font-size: 18px;
	margin: 10px 0;
}

.serviceBox > p {
	font-size: 11px;
	font-weight: bold;
	margin: 15px 0;
}

/*the contact styles*/
#CONTACT {
  padding-bottom: 0;
  text-align: center;
}

#CONTACT img {
	margin: 15px 0;
}

#CONTACT p {
color: #7e8287;
line-height: 41px;
width: 53%;
margin: 0 auto 5%;
}

label {
	cursor: default;
}

.contactForm {
	background: #0b0b0b;
	color: #7d8186;
	padding: 50px 25px;
}

.contactForm input {
	background: transparent;
	border: none;
	border-bottom: 1px solid 7d8186;
	font-size: 24px;
	height: 30px;
	text-align: center;
	width: 60%;
}

.contactForm textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	border-top: 1px solid  #7D8186;
	color:  #7D8186;
	font-size: 24px;
	text-align: center;
	width: 60%;
}

.contactForm button {
	background-color: #cdc71d;
	border: none;
	color: #0b1016;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease0-in-out;
}

.contactForm input:focus, .contactForm textarea:focus {
	outline: none;
}

.contactForm .half{
	margin: 2% 25%;
}

.contactForm .three_quarters {
	margin: 4% 10%;
}

/*footer*/
#sitefooter {
	background: #000;
	padding: 10px 0;
	width: 100%;
}

#sitefooter p {
	color: #7e8287;
	text-align: center;
}

.green-icons {
	color: #02918c;
}
